/* src/components/MissionVision.css */
.mission-vision-container {
  text-align: center;
  padding: 20px;
  background-color: rgba(158, 177, 196, 0.8); /* Fondo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
